#main {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    border: 1px black solid;
    padding: 5px;
}

#array {
    display: flex;
    gap: 1px;
}
